{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    
</head>

<body>
    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Edit Product</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'seller-index' %}">Home</a>
                            <span>Edit Product</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Edit Product</h2>
                    </div>
                </div>
            </div>
            
            <form class="col-lg-12" action="{% url 'seller-product-edit' pk=product.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if msg %}
            <b style="color:blue; text-align: center; display: block;">{{msg}}</b>
            {% endif%}
            <div class="row" style="justify-content: center; margin: 20px auto;margin-left: 120px;">
                
                </div>
                <div class="row" style="justify-content: center;">
                    
                    <div class="col-lg-4 col-md-4">
            <input type="text" name="product_name" value="{{product.product_name}}">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" name="product_price" value="{{product.product_price}}">
                    </div>
                </div>
                   
                     <div class="row" style="justify-content: center;">
                    <div class="col-lg-8">
                    <textarea name="product_desc">{{product.product_desc}}</textarea>
                </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-8 col-md-8">
                    <img src="{{product.product_image.url}}" width="100vh" height="100vh;">
                    <input type="file" name="product_image">
                </div>
                    
                </div>
                <div class="col-lg-12 text-center" >
                <button type="submit" click="btn" class="site-btn" >Update Product</button>
            </div>
                    </div>

            </form>
        </div>
    </div>
    <!-- Contact Form End -->

</body>

</html>
{% endblock %}