{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    
</head>

<body>
    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Sign Up</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Sign Up</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>User Sign Up</h2>
                    </div>
                </div>
            </div>
            
            <form class="col-lg-12" action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                {% if msg %}
            <b style="color:blue; text-align: center; display: block;">{{msg}}</b>
            {% endif%}
            <div class="row" style="justify-content: center; margin: 20px auto;margin-left: 120px;">
                <div class="col-lg-4 col-md-4">
                        <select name="usertype">
                         <option>---Select Usertype---</option> 
                         <option value="buyer">Buyer</option>
                         <option value="seller">seller</option>    
                        </select>
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    
                    <div class="col-lg-4 col-md-4">
                        <input type="text" name="fname" placeholder="First Name">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" name="lname" placeholder="Last Name">
                    </div>
                </div>
                    <div class="row" style="justify-content: center;">
                    <div class="col-lg-4 col-md-4">
                        <input type="text" name="email" placeholder="Your Email">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" name="mobile" placeholder="Your Mobile">
                    </div>
                     </div>
                     <div class="row" style="justify-content: center;">
                    <div class="col-lg-8">
                    <textarea placeholder="Your Address" name="address"></textarea>
                </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-4 col-md-4">
                        <input type="password" name="password" placeholder="Your Password">
                    </div>
                    <div class="col-lg-4 col-md-4">
                    <input type="password" name="cpassword" placeholder="Confirm Password">
                </div>
                </div>
                <div class="col-lg-12 text-center" >
                <button type="submit" click="btn" class="site-btn" >Sign Up</button>
            </div>
                    </div>

            </form>
        </div>
    </div>
    <!-- Contact Form End -->

</body>

</html>
{% endblock %}